[submodule "games/rogue-survivor"]
	path = games/rogue-survivor
	url = https://github.com/rowing195/rogue-survivor.git
[submodule "games/arcane-realm"]
	path = games/arcane-realm
	url = https://github.com/rowing195/arcane-realm.git
[submodule "games/html-games"]
	path = games/html-games
	url = https://github.com/rowing195/html-games.git
